#catalog-page.container {
    .search-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        span {
            margin-bottom: 10px;
        }
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-row-gap: 10px;
        .video {
            justify-self: center;
        }
    }
}
