// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'home';
@import 'login';
@import 'register';
@import 'single-movie';
@import 'catalog';
@import 'membership';

* {
    margin: 0;
    padding: 0;
}
body {
    background: $background-color;
}
a {
    color: $link-color;
}
input {
    outline: none;
    border: none;
}
span {
    text-transform: capitalize;
}
.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    align-self: start;
    a {
        text-decoration: none;
    }
    img {
        width: 182px;
        height: 269px;
    }
    .video-title {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: capitalize;
    }
}
::placeholder {
    color: black;
}
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 2rem;
    position: relative;
}
.logo {
    height: 50px;
    width: 50px;
}
#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background: $background-color;
    .menu {
        text-transform: uppercase;
        font-size: 1.8rem;
        padding: 20px 0;
        a {
            padding-right: 20px;
            text-decoration: none;
            &:hover {
                color: red;
            }
        }
    }
}
.gridView-container {
    .search-container {
        position: relative;
        span {
            margin-bottom: 10px;
        }
        .searchForm-container {
            width: 100%;
            position: absolute;
            display: grid;
            grid-template-columns: 1fr;
            justify-items: end;
            margin-bottom: 10px;
            bottom: 0;
            .search-result-container {
                z-index: 1;
                width: 160px;
                height: 200px;
                overflow: hidden;
                background: black;
                li {
                    list-style-type: none;
                    a {
                        color: white;
                    }
                }
            }
        }
    }
    .grid {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 10px;
        .video {
            justify-self: center;
        }
    }
    .pagination-container {
        width: 300px;
        margin: 0 auto;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        .pagination {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .number {
                cursor: pointer;
                width: 25px;
                height: 17px;
                border: 2px black solid;
                text-align: center;
                background: whitesmoke;
                &.currentPage {
                    border-color: red;
                }
            }
        }
    }
}
#footer {
    display: absolute;
    bottom: 0;
    width: 100%;
    background: $footer-color;
    height: 200px;
}
